<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" onclick="return false;" style="font-size: 32px; font-weight: bold; margin-left: 270px;">Lostfound</a> <!-- Utilizar onclick para evitar que se ejecute la acción -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i class="fas fa-home"></i> <!-- Icono de casa -->
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user-profile']">
          <i class="fas fa-user"></i> <!-- Icono de persona -->
          Perfil
        </a>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" type="button" (click)="onLogoff()">Cerrar Sesión</button>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
