<nav class="navbar navbar-expand-sm bg-primary navbar-dark mat-elevation-z4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" onclick="return false;">Lostfound</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <mat-icon>home</mat-icon> Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user-profile']">
          <mat-icon>person</mat-icon> Perfil
        </a>
      </li>
      <li class="nav-item">
        <button mat-raised-button color="primary" class="logout-button" (click)="onLogoff()">Cerrar Sesión</button>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
