<div class="container">
    <h2>Detalles del Objeto Perdido</h2>
    <div *ngIf="lostItem">
      <img [src]="lostItem.imagen" alt="Imagen del objeto perdido">
      <p><strong>Fecha:</strong> {{ lostItem.fecha | date:'yyyy-MM-dd' }}</p>
      <p><strong>Tipo:</strong> {{ lostItem.tipo.nombre }}</p>
      <p><strong>Descripción:</strong> {{ lostItem.descripcion }}</p>
      <p><strong>Detalles:</strong> {{ lostItem.detalles }}</p>
      <p><strong>Ubicación:</strong> {{ lostItem.ubicacion }}</p>
      <p><strong>Información de Contacto:</strong> {{ lostItem.informacionContacto }}</p>
      
      <!-- Mostrar la información del usuario -->
      <div *ngIf="user">
        <h3>Usuario que realizó la publicación:</h3>
        <p><strong>Nombre:</strong> {{ user.nombre }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <!-- Agregar formulario para valorar al usuario -->
        <form (submit)="rateUser(user._id)">
          <label for="rating">Puntuación:</label>
          <input type="number" id="rating" name="rating" [(ngModel)]="rating" required>
          <label for="comentario">Comentario:</label>
          <textarea id="comentario" name="comentario" [(ngModel)]="comentario"></textarea>
          <button type="submit">Valorar Usuario</button>
        </form>
      </div>

      <!-- Botón para volver atrás -->
      <button (click)="goBack()">Volver Atrás</button>
    </div>
    <div *ngIf="!lostItem"> <!-- Mostrar un mensaje si lostItem no está definido -->
      <p>El objeto perdido no se ha encontrado.</p>
      <!-- Botón para volver atrás -->
      <button (click)="goBack()">Volver Atrás</button>
    </div>
    <div *ngIf="lostItemDebug">
      <h3>Mensaje de Depuración:</h3>
      <pre>{{ lostItemDebug | json }}</pre>
    </div>
  </div>
