/* Estilos para el contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para el título */
h2 {
  font-size: 28px;
  color: #333;
  text-align: center;
}

/* Estilos para el formulario de búsqueda */
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-form input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #A8D0E6;
  border-radius: 5px;
  outline: none;
}

.search-form button {
  padding: 10px 20px;
  background-color: #0ac7f6;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para los botones de acción */
.actions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.action-button {
  padding: 10px 20px;
  background-color: #0ac7f6;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el contenedor de elementos de la lista */
.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Estilos para los elementos de la lista */
.item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; /* Agregamos posición relativa para que el botón tenga referencia */
}

/* Estilos para las imágenes de los objetos perdidos */
.image-container {
  height: 250px; /* Altura fija para las imágenes */
  overflow: hidden;
}

.lost-item-image {
  width: 100%;
  height: auto;
}

/* Estilos para los detalles de cada elemento */
.item-details {
  padding: 20px;
}

/* Estilos para el botón de detalles */
.detail-button {
  width: 100%;
  padding: 10px;
  background-color: #A8D0E6;
  color: #333;
  border: none;
  border-top: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.detail-button:hover {
  background-color: #A8D0E6;
}

/* Estilos para el paginador */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-button {
  padding: 10px 20px;
  background-color: #A8D0E6;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.page-button:hover {
  background-color: #A8D0E6;
}

.page-info {
  margin: 0 10px;
}

.item {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item {
  flex: 0 0 calc(33.33% - 20px); /* Establece un ancho fijo para cada elemento */
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.lost-item-image {
  max-width: 330px; /* Ancho máximo deseado */
  max-height: 200px; /* Alto máximo deseado */


}


.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-numbers {
  display: flex;
}

.page-number {
  padding: 10px 15px;
  background-color: #A8D0E6;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.page-number.active {
  background-color: #A8D0E6;
}

.pagination-button {
  padding: 10px 20px;
  background-color: #A8D0E6;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination-button:hover {
  background-color: #A8D0E6;
}

.page-number.active {
    background-color: #e8e8ec; /* Color de fondo para el botón activo */
    color: #333; /* Color de texto para el botón activo */
    font-weight: bold; /* Estilo de fuente en negrita para el botón activo */
}