<!-- dashboard.component.html -->

<div class="dashboard-page">
  <h1>Categorías</h1>

  <div class="navigation-buttons">
    <button mat-button class="custom-button" [routerLink]="['/lost-items']">
      <mat-icon>search</mat-icon> Objetos Perdidos
    </button>
    <button mat-button class="custom-button" (click)="navigateToFoundItems()">
      <mat-icon>handshake</mat-icon> Objetos Encontrados
    </button>
  </div>

  <mat-card class="info-container">
    <mat-card-content>
      <mat-icon>info</mat-icon>
      <h2>Bienvenidos!</h2>
      <p>LostFound te ofrece la oportunidad de buscar un objeto perdido y publicar un objeto encontrado en nuestra comunidad universitaria.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="main-functionalities">
    <mat-card-content>
      <mat-icon>filter_alt</mat-icon>
      <h2>Filtro de búsqueda</h2>
      <p>También puedes buscar un objeto encontrado en Lostfound con el filtro de búsqueda especializado ingresando su categoría.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="main-functionalities">
    <mat-card-content>
      <mat-icon>account_circle</mat-icon>
      <h2>Gestión de cuenta</h2>
      <p>Si deseas modificar tu perfil debes ingresar al apartado de gestión de cuenta. Se recomienda cambiar la clave temporal por una clave propia para mayor seguridad.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="main-functionalities">
    <mat-card-content>
      <mat-icon>star</mat-icon>
      <h2>Valoración de usuarios</h2>
      <p>La página LostFound permitirá crear una valoración a un usuario que realiza una publicación. Si la persona tiene una valoración promedio menor a 3 estrellas, no podrá publicar durante un mes.</p>
    </mat-card-content>
  </mat-card>
</div>
