<div class="dashboard-page">
  <!-- Aquí va todo el contenido del dashboard -->
  <h1>Categorias</h1>

  
  <!-- Botones de Navegación -->
  <div class="navigation-buttons">
    <button [routerLink]="['/lost-items']">Objetos Perdidos</button>
    <button (click)="navigateToFoundItems()">Objetos Encontrados</button>
  </div>

  <!-- Información del Sitio -->
  <div class="site-info">
    <h2>Bienvenidos! LostFound te ofrece la oportunidad de buscar un objecto perdido y publicar un objecto encontrado en nuestra comunidad universitaria</h2>
    <p>En LostFound puedes realizar publicaciones para un objectos encontrados o perdidos,el proceso es sencillo solo debese ingresar a la seccion de objectos perdidos o objectos encontrados, luego selecccionar la opcion de crear nueva publicacion, ingresar informacion relevante sobre el objecto, agregar fotos, tus datos de contacto si es necesario y listo!.</p>
  </div>

  <!-- Funcionalidades -->
  <div class="main-functionalities">
    <h2>Buscar publicaciones en Lostfound</h2>
   
      <p>Tambien puedes buscar un objecto encontrado en Lostfound con el filtro de busqueda de busqueda especializado ingresando su categoria.</p>
      <!-- Agrega más funcionalidades según sea necesario -->
   
  </div>

  <!-- Funcionalidades -->
  <div class="main-functionalities">
    <h2>Gestion de cuenta</h2>
   
      <p>Si deseas modificar tu perfil debes ingresar al apartado de gestion de cuenta.Se recomienda cambiar la clave temporal por una clave propia para mayor seguridad.</p>
      <!-- Agrega más funcionalidades según sea necesario -->
   
  </div>

  <!-- Funcionalidades -->
  <div class="main-functionalities">
    <h2>Valoracion de usuarios</h2>
   
      <p>La pagina LostFound permitira crear un valoracion a un usuario que realiza un publicacion, la valoracion es de 1 a 5 estrellas.Si la persona tiene una valoracion promedio menor a 3 estrellas la persona no podra publicar durante un mes en la pagina web, esto esta implementado para que las personas no realizen publicaciones falsas y mejorar la confiabilidad del sitio web.</p>
      <!-- Agrega más funcionalidades según sea necesario -->
   
  </div>

